<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-links">
      <a href="#" class="facebook"
        ><img src="../img/homepage/facebook.png" alt="facebook"
      /></a>
      <a href="#" class="instagram"
        ><img src="../img/homepage/instagram.png" alt="instagram"
      /></a>
      <a href="#" class="twitter"
        ><img src="../img/homepage/twitter.png" alt="twitter"
      /></a>
      <a href="#" class="linkedin"
        ><img src="../img/homepage/linkedin.png" alt="linkedin"
      /></a>
    </div>
    <header class="about">
      <div class="header-content-img">
        <img src="../img/about/header-img.png" alt="tomato" />
      </div>
      <div class="header-content-title title">
        ABOUT OUR COMPANY
      </div>
    </header>
    <section class="about">
      <div class="description">
        <div class="container">
          <div class="description-container">
            <div class="description-content">
              <div class="content-title title">
                Rooted in Values of Quality, Tradition and Innovation
              </div>
              <div class="content-text text">
                Westar is committed to developing elite vegetable genetics which
                through intellectual rigor, tireless effort and an organized
                vision express the quality that the brand stands for. We combine
                traditional values and service with innovative techniques to
                transform the highest quality genetics into the best vegetable
                seed varieties to serve professional growers.
                <br /><br />
                Headquartered in California’s Imperial Valley, Westar honorably
                serves customers in over 50 countries by our dedicated,
                professional staff. Our respect for the agricultural industry
                and responsibility we have to continue to contribute to the
                global food supply has been the forefront of our mandate ever
                since our inception in 1992.
              </div>
              <a href="#">
                <div class="content-link link">
                  <div class="link-text">Contact us</div>
                </div>
              </a>
            </div>
            <div class="content-img border-img">
              <img src="../img/about/description-content.png" alt="" />
              <div class="border-block"></div>
            </div>
          </div>
        </div>
        <img
          src="../img/about/description-img.png"
          alt="pepper"
          class="description-img"
          data-500="transform:translateX(-20%)"
          data-900="transform:translateX(0)"
        />
      </div>
      <div class="mission">
        <div class="container">
          <div
            class="line-title"
            data-900="transform:translateX(-20%)"
            data-1300="transform:translateX(0)"
          >
            Our mission
          </div>
          <img
            src="../img/about/mission-img.png"
            alt="field"
            class="mission-img"
          />
          <div class="mission-content">
            <div class="content-text text">
              We maintain our integrity throughout all our business practices
              and day-to-day operations. We believe integrity is the foundation
              on which we’re built and grow upon. Nothing is a higher priority
              than building strong relationships with our customers and
              partners. At Westar, our customers become friends and together we
              grow a bright future. We dont’t limit ourselves to quality in
              seed, plants, and final product only. we consider quality in
              customer service, business, and efficiency in serving you as
              absolutely essential
            </div>
            <a href="#">
              <div class="black-link link">
                <div class="link-text">Breeding</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="goal">
        <img
          src="../img/about/goal-img.png"
          alt="pepper"
          class="goal-img"
          data-2100="transform:translateX(-20%)"
          data-2600="transform:translateX(0)"
        />

        <div class="container">
          <div class="goal-container">
            <div class="goal-content">
              <div
                class="content-title title"
                data-2100="transform:translateX(-20%)"
                data-2600="transform:translateX(0)"
              >
                OUR GOAL WAS NEVER TO BE THE BIGGEST, BUT TO ALWAYS BE THE BEST
              </div>
              <div
                class="content-text text"
                data-2100="transform:translateX(-20%)"
                data-2600="transform:translateX(0)"
              >
                In 1992, after two decades of rising through the ranks within
                multiple seed companies, John Sonza founded Westar Seeds
                International, Inc. in El Centro, California. From those first
                days, the company was guided by his determination to be the
                best, not the biggest. The key was in delivering more with every
                order and for every customer: more expertise, more support, and
                more yield.
                <br /><br />
                Superior customer service, John believed, is what would set
                Westar Seeds apart. He was right, and years of consistent growth
                followed. Westar Seeds’ unique customer-centric approach can be
                seen in every employee’s friendly, service-oriented nature. The
                team earns each customer’s trust the old-fashioned way, never
                forgetting they have a choice and that a promise made must be a
                promise kept.
              </div>
              <a href="#">
                <div class="content-link link">
                  <div class="link-text">Vegetable seeds</div>
                </div>
              </a>
            </div>
            <div
              class="content-img border-img"
              data-2100="transform:translateX(20%)"
              data-2600="transform:translateX(0)"
            >
              <img src="../img/about/goal-content.png" alt="" />
              <div
                class="border-block"
                data-2100="border-width: 15px"
                data-2600="border-width: 1px"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="events">
        <div class="container">
          <div
            class="line-title"
            data-2800="transform:translateX(-20%)"
            data-3200="transform:translateX(0)"
          >
            UPCOMING EVENTS
          </div>
          <div class="event-block">
            <img src="../img/about/event-1.png" alt="event" class="event-img" />

            <div class="event-content">
              <a href="">
                <div class="event-info text">
                  <div class="info-text">EXPOS</div>
                  <div class="info-date">11/13/2018</div>
                </div>
                <div class="event-title title">Expo Agroalimentaria 2018</div>
                <div class="event-text text">
                  We are excited to announce our participation in the Expo
                  AgroAlimentaria Guanajuato 2018, we’ll be glad to chat with
                  you on stand 825 & 853 as well as show you our new hybrid
                  materials on Green house #2, and Parcels #121-126
                </div>
                <div class="event-tags comments">
                  #CROPS #GENETIC #GENETIC FARMING #ORGANIC #ORGANIC FARMING
                </div>
              </a>
            </div>
          </div>
          <div class="event-block">
            <img src="../img/about/event-2.png" alt="event" class="event-img" />
            <div class="event-content">
              <a href="">
                <div class="event-info text">
                  <div class="info-text">EXPOS</div>
                  <div class="info-date">11/13/2018</div>
                </div>
                <div class="event-title title">Congreso de Cebollas 2018</div>
                <div class="event-text text">
                  6º Congreso de Cebollas en el Centro de Exposiciones y
                  Convenciones Expo Chihuahua. Habrá intercambio de
                  conocimientos, técnicas y experiencias durante el Congreso,
                  además de la participación de empresas con stands comerciales.
                  El Día de Campo será el 25 de mayo en Delicias, Chihuahua.
                </div>
                <div class="event-tags comments">
                  #CROPS #GENETIC #GENETIC FARMING #ORGANIC #ORGANIC FARMING
                </div>
              </a>
            </div>
          </div>
          <div class="link-content">
            <a href="">
              <div class="event-link black-link link">
                <div class="link-text">More events</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
