<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-links">
      <a href="#" class="facebook"
        ><img src="../img/homepage/facebook.png" alt="facebook"
      /></a>
      <a href="#" class="instagram"
        ><img src="../img/homepage/instagram.png" alt="instagram"
      /></a>
      <a href="#" class="twitter"
        ><img src="../img/homepage/twitter.png" alt="twitter"
      /></a>
      <a href="#" class="linkedin"
        ><img src="../img/homepage/linkedin.png" alt="linkedin"
      /></a>
    </div>
    <header class="article">
      <div class="header-content-img">
        <img src="../img/article/header-img.png" alt="tomato" />
      </div>
    </header>
    <section class="article">
      <div class="container">
        <aside
          data-0="position:static;"
          data-180="position:sticky;top:130px;left:0;z-index:10;"
        >
          <ul class="events">
            <li class="list-title"><a href="events.html">All Events</a></li>
            <li class="list-item"><a href="#">Future Events</a></li>
            <li class="list-item"><a href="#">Past Events</a></li>
          </ul>
          <ul class="news">
            <li class="list-title"><a href="news.html">All news</a></li>
            <li class="list-item"><a href="#">Glossary of Terms</a></li>
            <li class="list-item"><a href="#">Disease Resistance Codes</a></li>
          </ul>
        </aside>
        <div class="page-content article">
          <div class="article-content">
            <div class="title">What is Organic Farming?</div>
            <div class="content-text">
              Organic farming aims to provide the means of sustainable
              agriculture while applying environmentally friendly methods. The
              ultimate goal of organic farmers is to achieve maximum
              productivity while focusing on sustainable agriculture,
              re-establishing ecological balance, conserving flora and fauna,
              and contributing to the preservation of the soil by reducing the
              usage of chemicals and toxic substances in the farming process.
            </div>
            <img src="../img/article/article-img.png" />
            <div class="content-text">
              Another primary aim of organic farming is to grow healthier and
              more nutritious crops for consumers. It is essential to note that
              organic farming avoids the use of pesticides, synthetic
              fertilizers, antibiotics, growth hormones, and genetically
              modified seeds.
              <br /><br />
              Organic farming practices
              <br /><br />
              Organic farmers put into practice several methods to achieve
              environmental and agricultural sustainability. Here are some of
              the most common practices among them:
              <br /><br />
              Soil maintenance Farmers preserve the health of the soil by using
              compost or manure instead of synthetic fertilizers. The usage of
              organic fertilizers improves soil quality as it enables it to
              retain better air, nutrients, and moisture which results in
              healthier, thriving plants and crops.
              <br /><br />
              Crop rotation Growing the same plants in the same soil year after
              year decreases the quality of the soil. By growing different
              plants every year, organic farmers ensure that the soil is more
              abundant in nutrients acquired by the various crops that are
              produced in it.
              <br /><br />
              Cover crops Cover crops are non-income generating crops planted in
              between growth cycles or in some cases together with the main
              crops. Cover crops enrich the soil because they improve the soil’s
              chemical and biological properties as well as reduce erosion.
              <br /><br />
              Buffer zones Buffer zones are designated areas of crops organic
              farmers plant between organically certified fields and non-organic
              land. In this way, they ensure that there is no contamination
              between organic and non-organic soil.
            </div>
            <img src="../img/article/article-img-2.png" />
          </div>
          <div class="article-info">
            <div class="tags comments">
              #CROPS #GENETIC #GENETIC FARMING #ORGANIC #ORGANIC FARMING
            </div>
            <div class="share comments">SHARE:</div>
            <div class="article-links">
              <a href="#" class="facebook"
                ><img src="../img/article/facebook.png" alt="facebook"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/article/twitter.png" alt="instagram"
              /></a>
              <a href="#" class="pinterest"
                ><img src="../img/article/pinterest.png" alt="linkedin"
              /></a>
              <a href="#" class="telegram"
                ><img src="../img/article/telegram.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
