<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-links">
      <a href="#" class="facebook"
        ><img src="../img/homepage/facebook.png" alt="facebook"
      /></a>
      <a href="#" class="instagram"
        ><img src="../img/homepage/instagram.png" alt="instagram"
      /></a>
      <a href="#" class="twitter"
        ><img src="../img/homepage/twitter.png" alt="twitter"
      /></a>
      <a href="#" class="linkedin"
        ><img src="../img/homepage/linkedin.png" alt="linkedin"
      /></a>
    </div>
    <header class="breeding">
      <div class="header-content-img">
        <img src="../img/breeding/header-img.png" alt="tomato" />
      </div>
      <div class="header-content-title title">
        Breeding
      </div>
    </header>
    <section class="breeding">
      <div class="description">
        <div class="container">
          <div class="description-container">
            <div class="content-img border-img">
              <img src="../img/breeding/description-img.png" alt="" />
              <div class="border-block"></div>
            </div>
            <div class="description-content">
              <div class="content-title title">
                CULTIVATING RELATIONSHIPS FROM THE GROUND UP
              </div>
              <div class="content-text text">
                From appearance to cost to marketability, our objective is to
                deliver products that will succeed and keep you coming back for
                more. At our state-of-the-art facility, the Westar technical
                team is expertly streamlining processes and developing
                industry-leading innovations, like rapid seed packaging. You’ll
                see a difference in the service you receive. The Westar Team is
                dedicated to putting customer service first.
              </div>
              <a href="#">
                <div class="content-link link">
                  <div class="link-text">Seed prtfolio</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="innovation">
        <div class="container">
          <div
            class="line-title"
            data-700="transform:translateX(-20%)"
            data-1100="transform:translateX(0)"
          >
            Breeding & Innovation
          </div>
          <div class="innovation-row top-row">
            <div class="innovation-block">
              <img
                src="../img/breeding/innovation-1.png"
                alt="innovation"
                class="block-img"
              />
              <div class="comments">Crossing</div>
              <div class="text">
                Leveraging worldwide expertise and proven best practices, we’ll
                make thoughtful recommendations and help manage trials to be
                efficient, appropriate, successful, and to move forward with
                guaranteed confidence in our products.
              </div>
              <div class="arrow">
                <img src="../img/breeding/arrow-1.png" alt="innovation" />
              </div>
            </div>
            <div class="innovation-block">
              <img
                src="../img/breeding/innovation-2.png"
                alt="innovation"
                class="block-img"
              />
              <div class="comments">Production</div>
              <div class="text">
                Years of experience give Westar staff unrivaled expertise and
                familiarity with import/export documentation. We get it right
                and meet all government specifications – correct and shipped
                on-time, first time and every time.
              </div>
              <div class="arrow">
                <img src="../img/breeding/arrow-2.png" alt="innovation" />
              </div>
            </div>
          </div>
          <div class="innovation-img">
            <img src="../img/breeding/innovation-img.png" alt="innovation" />
          </div>
          <div class="innovation-row bottom-row">
            <div class="innovation-block">
              <img
                src="../img/breeding/innovation-3.png"
                alt="innovation"
                class="block-img"
              />
              <div class="arrow">
                <img src="../img/breeding/arrow-3.png" alt="innovation" />
              </div>
              <div class="comments">Research</div>
              <div class="text">
                To help you, we first need to understand you. We will ask you
                many questions, such as what you need, why you need it and how
                the products will be grown. All of this helps us better
                understand your end user which guarantees we get you the best
                product, the first time.
              </div>
            </div>
            <div class="innovation-block">
              <img
                src="../img/breeding/innovation-4.png"
                alt="innovation"
                class="block-img"
              />
              <div class="arrow">
                <img
                  src="../img/breeding/arrow-4.png"
                  alt="innovation"
                  class=""
                />
              </div>
              <div class="comments">Trialing</div>
              <div class="text">
                With successful trials of varieties proven to be just right for
                you, we’ll help project realistic needs and coordinate
                production of seeds to meet anticipated sales – all to satisfy
                your needs, not our convenience.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="breeding-img">
        <img
          src="../img/breeding/breeding-img.png"
          alt="innovation"
          class="block-img"
        />
      </div>
      <div class="development">
        <div class="container">
          <div
            class="line-title"
            data-2100="transform:translateX(-20%)"
            data-2600="transform:translateX(0)"
          >
            Development
          </div>
          <div
            class="development-content"
            data-2100="transform:translateX(-50px)"
            data-2600="transform:translateX(0)"
          >
            <div class="development-block">
              <div class="title">Market & Consumer Research</div>
              <div class="text">
                So what does the development of a new vegetable variety involve?
                Breeding a vegetable demands a great deal of patience, time,
                dedication and creativity. The process that commences with
                selecting parent plants with the right traits and culminates in
                a new vegetable variety takes at least six years. Not an
                endeavor for the faint hearted!
              </div>
            </div>
            <div class="development-block">
              <div class="title">Modern Breeding Techniques</div>
              <div class="text">
                So what does the development of a new vegetable variety involve?
                Breeding a vegetable demands a great deal of patience, time,
                dedication and creativity. The process that commences with
                selecting parent plants with the right traits and culminates in
                a new vegetable variety takes at least six years. Not an
                endeavor for the faint hearted!
              </div>
            </div>
            <div class="development-block">
              <div class="title">Trialing & Feedback</div>
              <div class="text">
                So what does the development of a new vegetable variety involve?
                Breeding a vegetable demands a great deal of patience, time,
                dedication and creativity. The process that commences with
                selecting parent plants with the right traits and culminates in
                a new vegetable variety takes at least six years. Not an
                endeavor for the faint hearted!
              </div>
            </div>
          </div>
          <img
            src="../img/breeding/development-img.png"
            alt="tomato"
            class="development-img"
          />
        </div>
      </div>
      <div class="varieties">
        <div class="container">
          <div class="varieties-content">
            <div
              class="line-title"
              data-3000="transform:translateX(-20%)"
              data-3400="transform:translateX(0)"
            >
              Highlighted Varieties
            </div>
            <div class="text">
              Using new technology and industry-leading innovation, we’re
              maximizing the potential of our seeds
            </div>
          </div>
          <div class="products">
            <div class="product">
              <a href="">
                <div class="product-img">
                  <img src="../img/breeding/varieties-1.png" alt="product" />
                </div>
                <div class="product-info text">
                  <div class="product-descr">Big green</div>
                  <div class="product-name">Broccoli</div>
                </div>
                <div class="product-name title">WS-3277</div>
              </a>
            </div>
            <div class="product">
              <a href="">
                <div class="product-img">
                  <img src="../img/breeding/varieties-2.png" alt="product" />
                </div>
                <div class="product-info text">
                  <div class="product-descr">Big green</div>
                  <div class="product-name">Broccoli</div>
                </div>
                <div class="product-name title">WS-3277</div>
              </a>
            </div>
            <div class="product">
              <a href="">
                <div class="product-img">
                  <img src="../img/breeding/varieties-3.png" alt="product" />
                </div>
                <div class="product-info text">
                  <div class="product-descr">Big green</div>
                  <div class="product-name">Broccoli</div>
                </div>
                <div class="product-name title">WS-3277</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
