<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <title>Document</title>
</head>

<body>
  <nav data-0="position:static;" data-180="position:sticky;top:0;left:0;z-index:999;">
    <div class="container">
      <a href="../index.html">
        <div class="logo">
          <img src="../img/homepage/logo.png" alt="logo" />
        </div>
      </a>
      <div class="nav-toggle">
        <div class="nav-toggle-content"></div>
      </div>
      <div class="nav-content">
        <ul class="menu link">
          <li class="menu-item drop-down">
            <a href="#">Company</a>
            <ul class="sub-menu">
              <li class="text"><a href="about.html">About</a></li>
              <li class="text">
                <a href="breeding.html">Breeding</a>
              </li>
              <li class="text"><a href="team.html">Team</a></li>
              <li class="text">
                <a href="careers.html">Careers</a>
              </li>
            </ul>
          </li>
          <li class="menu-item drop-down">
            <a href="products.html">Products</a>
            <div class="sub-menu sub-menu-products">
              <ul class="products-menu">
                <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                <li class="products-menu-item text">
                  <a href="product.html">Broccoli</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Cucumber</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Eggplant</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Melon</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Onions</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Papaya</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Pepper (Hot)</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Pepper (Sweet)</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Squash</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Tomato</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Tomatillo</a>
                </li>
                <li class="products-menu-item text">
                  <a href="product.html">Watermelon</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu-item drop-down">
            <a href="#">Resources</a>
            <ul class="sub-menu">
              <li class="text"><a href="events.html">Events</a></li>
              <li class="text">
                <a href="multimedia.html">Multimedia</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="contact.html">Contact</a>
          </li>
        </ul>
        <div class="nav-useful">
          <div class="search_icon">
            <img src="../img/homepage/search-icon.png" alt="search" />
          </div>
          <div class="language link drop-down">En</div>
        </div>
      </div>
    </div>
  </nav>
  <div class="header-links">
    <a href="#" class="facebook"><img src="../img/homepage/facebook.png" alt="facebook" /></a>
    <a href="#" class="instagram"><img src="../img/homepage/instagram.png" alt="instagram" /></a>
    <a href="#" class="twitter"><img src="../img/homepage/twitter.png" alt="twitter" /></a>
    <a href="#" class="linkedin"><img src="../img/homepage/linkedin.png" alt="linkedin" /></a>
  </div>
  <header class="careers">
    <div class="header-content-img">
      <img src="../img/careers/header-img.png" alt="tomato" />
    </div>
    <div class="header-content-title title">
      Careers
    </div>
  </header>
  <section class="careers">
    <div class="description">
      <div class="container">
        <div class="description-container">
          <div class="description-content">
            <div class="content-title title">
              Come Join Our Team
            </div>
            <div class="content-text text">
              Join one of the greatest ensembles of experts and employees in
              either the international or domestic seed business. From hand
              work directly with plants in the field to seed handling,
              shipping, and working with customers from all over the globe,
              there’s bound to be a place for you—whether you’re passionate
              about the seed business or wish to work in an unparalleled team
              environment.
              <br />
              <br />
              We’re always looking to add talented, passionate teammates.
              We’re about hard work, respect for our customers and each other,
              and building a company known for quality products and superior
              customer service. If you’re looking for a professional home and
              not just another job, we’d love to talk you about opportunities
              at Westar.
            </div>
            <a href="#">
              <div class="content-link link">
                <div class="link-text">Contact us</div>
              </div>
            </a>
          </div>
          <div class="content-img border-img">
            <img src="../img/careers/description-content.png" alt="" />
            <div class="border-block"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="vacancies">
      <div class="container">
        <div class="line-title"
        data-600="transform:translateX(-10%)"
                  data-1000="transform:translateX(0)">vacancies</div>
        <div class="vacancy-block open">

          <div class="title">Manager - Consumer Services</div>
          <div class="contact text">
            <a href="">Contact us</a>
          </div>
          <div class="info text">El Paso, United States | Marketing | 05/11/2019</div>

          <div class="preview content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          </div>
          <br> <br>
          <div class="description content-text">
            RESPONSIBILITIES:
            <br> <br>
            1) Partner with our internal market research team to drive primary consumer research to uncover the set of
            user needs to
            be met via our consumer services.
            2) Work closely with Modern Life PMM leadership, use those insights to define an overall narrative for our
            suite of
            consumer services, which ties together the needs identified and the concepts produced to address them.
            3) Drive that narrative into ongoing work within the PMM team & leadership, with other teams in the 4)
            Marketing org,
            Business Planning and with Engineering product managers.
            <br> <br>
            QUALIFICATIONS:
            <br> <br>
            1) Minimum 5 years’ experience in consumer product design, development and/or marketing/GTM; strong
            preference for the
            consumer-tech sector
            2) Strong customer empathy; human-centered design experience & mindset
            3) Proven ability to work collaboratively with a broad set of internal and external stakeholders, including
            senior
            leadership, to drive complex projects to successful conclusion
            4) Self-motivated and comfortable defining your own objectives and priorities
          </div>
          <div class="email-button title"><a href="#">Email us</a></div>
        </div>

        <div class="vacancy-block">
          <div class="title">Manager - Consumer Services</div>
          <div class="contact text">
            <a href="">Contact us</a>
          </div>
          <div class="info text">El Paso, United States | Marketing | 05/11/2019</div>
          <div class="preview content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          </div>
        </div>
        <div class="vacancy-block">
          <div class="title">Manager - Consumer Services</div>
          <div class="contact text">
            <a href="">Contact us</a>

          </div>
          <div class="info text">El Paso, United States | Marketing | 05/11/2019</div>
          <div class="preview content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="footer-container">
        <div class="logo-block">
          <img src="../img/homepage/footer-logo.png" alt="logo" class="footer-logo" />
          <div class="footer-title">Masters in the Art of Breeding</div>
        </div>
        <div class="menu-block">
          <ul class="company-menu">
            <li class="footer-title">COMPANY</li>
            <li class="menu-item text"><a href="#">about</a></li>
            <li class="menu-item text"><a href="#">breeding</a></li>
            <li class="menu-item text"><a href="#">team</a></li>
            <li class="menu-item text"><a href="#">careers</a></li>
            <li class="menu-item text"><a href="#">resources</a></li>
            <li class="menu-item text"><a href="#">contact</a></li>
          </ul>
          <ul class="products-menu">
            <li class="footer-title">PRODUCTS</li>
            <li class="menu-item text"><a href="#">Broccoli</a></li>
            <li class="menu-item text"><a href="#">Cucumber</a></li>
            <li class="menu-item text"><a href="#">Eggplant</a></li>
            <li class="menu-item text"><a href="#">Melon</a></li>
            <li class="menu-item text"><a href="#">Onions</a></li>
            <li class="menu-item text"><a href="#">Papaya</a></li>
            <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
            <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
            <li class="menu-item text"><a href="#">Squash</a></li>
            <li class="menu-item text"><a href="#">Tomato</a></li>
            <li class="menu-item text"><a href="#">Tomatillo</a></li>
            <li class="menu-item text"><a href="#">Watermelon</a></li>
          </ul>
        </div>
        <div class="contact-block">
          <div class="contact-content">
            <div class="footer-title">contact</div>
            <div class="contact-text text">
              We combine traditional values and service with innovative
              techniques
            </div>
            <a href="" class="contact-button footer-title">contact us</a>
            <div class="contact-info">
              <img src="../img/homepage/address.png" alt="" class="address-icon" />
              <div class="text">
                798 E Heil Ave, El Centro, CA 92243, USA
              </div>
            </div>
            <div class="contact-info">
              <img src="../img/homepage/phone.png" alt="" class="phone-icon" />
              <div class="text">
                (760) 353-7333
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-block">
      <div class="container">
        <div class="logo-info text">
          ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
        </div>
        <div class="menu-info">
          <div class="footer-privacy text">PRIVACY POLICY</div>
          <div class="footer-cookie text">COOKIE NOTICE</div>
        </div>
        <div class="contact-info">
          <div class="footer-links">
            <a href="#" class="facebook"><img src="../img/homepage/footer-facebook.png" alt="facebook" /></a>
            <a href="#" class="instagram"><img src="../img/homepage/footer-instagram.png" alt="instagram" /></a>
            <a href="#" class="twitter"><img src="../img/homepage/footer-linkedin.png" alt="linkedin" /></a>
            <a href="#" class="linkedin"><img src="../img/homepage/footer-twitter.png" alt="twitter" /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../js/index.js"></script>
  <script src="../js/skrollr.min.js"></script>
  <script type="text/javascript">
    skrollr.init();
  </script>
</body>

</html>