<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-links">
      <a href="#" class="facebook"
        ><img src="../img/homepage/facebook.png" alt="facebook"
      /></a>
      <a href="#" class="instagram"
        ><img src="../img/homepage/instagram.png" alt="instagram"
      /></a>
      <a href="#" class="twitter"
        ><img src="../img/homepage/twitter.png" alt="twitter"
      /></a>
      <a href="#" class="linkedin"
        ><img src="../img/homepage/linkedin.png" alt="linkedin"
      /></a>
    </div>
    <header class="contact">
      <div class="header-content-img">
        <img src="../img/contact/header-img.png" alt="tomato" />
      </div>
      <div class="header-content-title title">
        Contact
      </div>
    </header>
    <section class="contact">
      <div class="contact-container">
        <div class="form-content">
          <div class="content-title">Let’s work together</div>
          <form class="text">
            <div class="first-name">
              <input type="text" placeholder="First Name" />
            </div>
            <div class="last-name">
              <input type="text" placeholder="Last Name" />
            </div>
            <div class="email"><input type="text" placeholder="Email" /></div>
            <div class="phone"><input type="text" placeholder="Phone" /></div>
            <div class="country dropdown">
              <input type="text" placeholder="Country" />
            </div>
            <div class="company">
              <input type="text" placeholder="Company Name" />
            </div>
            <div class="position">
              <input type="radio" id="contactChoice1" name="contact" />
              <label for="contactChoice1">Distributor</label>
              <input type="radio" id="contactChoice2" name="contact" />
              <label for="contactChoice2">Grower</label>
            </div>
            <div class="message">
              <input type="text" placeholder="Message" />
            </div>

            <button type="submit" class="title">Send</button>
          </form>
        </div>
        <div class="contact-content">
          <div class="contact-content-top">
            <div class="title">Tradition and Innovation</div>
            <div class="text">
              Westar is committed to developing elite vegetable genetics which
              through intellectual rigor, tireless effort and an organized
              vision express the quality that the brand stands for.
            </div>
          </div>

          <div class="title">Contact information</div>
          <div class="contact-info text">
            <div class="contact-info-title">Call us</div>
            <div class="contact-info-text">(760) 353-7333</div>
            <div class="contact-info-title">Email us</div>
            <div class="contact-info-text">mail@westarseeds.com</div>
            <div class="contact-info-title">Address</div>
            <div class="contact-info-text">
              798 E Heil Ave, El Centro, CA 92243, USA
            </div>
            <div class="contact-info-text">
              Mon-Fri 8AM-5PM PST
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
