<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-links">
      <a href="#" class="facebook"
        ><img src="../img/homepage/facebook.png" alt="facebook"
      /></a>
      <a href="#" class="instagram"
        ><img src="../img/homepage/instagram.png" alt="instagram"
      /></a>
      <a href="#" class="twitter"
        ><img src="../img/homepage/twitter.png" alt="twitter"
      /></a>
      <a href="#" class="linkedin"
        ><img src="../img/homepage/linkedin.png" alt="linkedin"
      /></a>
    </div>
    <header class="events">
      <div class="header-content-img">
        <img src="../img/events/header-img.png" alt="tomato" />
      </div>
      <div class="header-content-title title">
        News & Events
      </div>
    </header>
    <section class="events">
      <div class="container">
        <aside
          data-0="position:static;"
          data-180="position:sticky;top:130px;left:0;z-index:10;"
        >
          <ul class="events">
            <li class="list-title active">
              <a href="events.html">All Events</a>
            </li>
            <li class="list-item"><a href="#">Future Events</a></li>
            <li class="list-item"><a href="#">Past Events</a></li>
          </ul>
          <ul class="news">
            <li class="list-title"><a href="news.html">All news</a></li>
            <li class="list-item"><a href="#">Glossary of Terms</a></li>
            <li class="list-item"><a href="#">Disease Resistance Codes</a></li>
          </ul>
        </aside>
        <div class="page-content">
          <div class="event-block_big">
            <a href="#">
              <div class="event-img">
                <img src="../img/events/event-big.png" alt="" />
              </div>
              <div class="title">Congreso de Cebollas 2018</div>
            </a>
          </div>
          <div class="event-block">
            <img
              src="../img/events/event-1.png"
              alt="event"
              class="event-img"
            />

            <div class="event-content">
              <a href="article.html">
                <div class="event-info text">
                  <div class="info-text">EXPOS</div>
                  <div class="info-date">11/13/2018</div>
                </div>
                <div class="event-title title">Expo Agroalimentaria 2018</div>
                <div class="event-text text">
                  We are excited to announce our participation in the Expo
                  AgroAlimentaria Guanajuato 2018, we’ll be glad to chat with
                  you on stand 825 & 853 as well as show you our new hybrid
                  materials on Green house #2, and Parcels #121-126
                </div>
                <div class="event-tags comments">
                  #CROPS #GENETIC #GENETIC FARMING #ORGANIC #ORGANIC FARMING
                </div>
              </a>
            </div>
          </div>
          <div class="event-block">
            <img
              src="../img/events/event-2.png"
              alt="event"
              class="event-img"
            />

            <div class="event-content">
              <a href="article.html">
                <div class="event-info text">
                  <div class="info-text">EXPOS</div>
                  <div class="info-date">11/13/2018</div>
                </div>
                <div class="event-title title">Expo Agroalimentaria 2018</div>
                <div class="event-text text">
                  We are excited to announce our participation in the Expo
                  AgroAlimentaria Guanajuato 2018, we’ll be glad to chat with
                  you on stand 825 & 853 as well as show you our new hybrid
                  materials on Green house #2, and Parcels #121-126
                </div>
                <div class="event-tags comments">
                  #CROPS #GENETIC #GENETIC FARMING #ORGANIC #ORGANIC FARMING
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
