<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <section class="product-card">
      <div class="container">
        <div class="breads">
          VEGETABLES > BROCCOLI > BIG GREEN (WS-3174)
        </div>
        <div class="product-slider">
          <div class="product-slider-img">
            <img src="../img/products/product.png" alt="tomato" />
            <div class="product-slider-bottom">
              ACTUAL PRODUCT MAY DIFFER FROM WHAT IS SHOWN
            </div>
          </div>
        </div>
        <div class="product-content">
          <div class="product-content-top">
            <div class="type">Tomato</div>
            <div class="title">Tommasino (WS-2755)</div>
          </div>
          <div class="info-block">
            <div class="product-title">Info</div>
          </div>
          <div class="info-table">
            <div class="block">
              <div class="product-title">
                Type
              </div>
              <div class="product-text">
                Saladette, Indeterminate
              </div>
            </div>
            <div class="block">
              <div class="product-title">
                Color
              </div>
              <div class="product-text">
                Red
              </div>
            </div>
            <div class="block">
              <div class="product-title">
                Conditions
              </div>
              <div class="product-text">
                Protected
              </div>
            </div>
            <div class="block">
              <div class="product-title">
                Resistances
              </div>
              <div class="product-text">
                F(1), FOR, Ma, Mi, Mj, ToMV, TYLCV
              </div>
            </div>
          </div>
          <div class="info-block">
            <div class="product-title">Description</div>
          </div>
          <div class="description text">
            An incredible producer of bright and vibrant red grape tomatoes.
            Very uniform and oblong, each individual tomato on this vine is bred
            to pack a delicious, sweet and savory taste. Very vigorous and will
            mature extremely early, pushing you first to market with the highest
            quality grape tomatoes, incomparable and competitive with the other
            products on the market in this segment. Vine is strong and
            indeterminate, fitting best for medium to higher technology
            greenhouse culture however it has adapted well to lower technology.
            Tommasino has a great disease package that includes resistance to
            many viruses such as fusarium, and much more. The yield on this
            variety is incredible, and the plants continue to yield even after
            multiple harvests. It is easily one of the best yielders on the
            market in this segment. Plant form makes it simple to harvest the
            tomatoes either individually or in clusters.
          </div>
          <div class="info-block download">
            <div class="product-title">Download</div>
            <div class="pdf-file">
              <img src="../img/products/pdf.png" alt="" />
            </div>
          </div>
          <div class="share-block">
            <div class="product-title">Share Product</div>
            <div class="product-links">
              <a href="#" class="facebook"
                ><img src="../img/products/facebook.png" alt="facebook"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/products/twitter.png" alt="twitter"
              /></a>
              <a href="#" class="instagram"
                ><img src="../img/products/instagram.png" alt="instagram"
              /></a>
              <a href="#" class="telegram"
                ><img src="../img/products/telegram.png" alt="linkedin"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="varieties">
      <div class="container">
        <div class="varieties-content">
          <div
            class="line-title"
            data-300="transform:translateX(-20%)"
            data-700="transform:translateX(0)"
          >
            Highlighted Varieties
          </div>
          <div class="text">
            Using new technology and industry-leading innovation, we’re
            maximizing the potential of our seeds
          </div>
        </div>
        <div class="products">
          <div class="product">
            <a href="">
              <div class="product-img">
                <img src="../img/breeding/varieties-1.png" alt="product" />
              </div>
              <div class="product-info text">
                <div class="product-descr">Big green</div>
                <div class="product-name">Broccoli</div>
              </div>
              <div class="product-name title">WS-3277</div>
            </a>
          </div>
          <div class="product">
            <a href="">
              <div class="product-img">
                <img src="../img/breeding/varieties-2.png" alt="product" />
              </div>
              <div class="product-info text">
                <div class="product-descr">Big green</div>
                <div class="product-name">Broccoli</div>
              </div>
              <div class="product-name title">WS-3277</div>
            </a>
          </div>
          <div class="product">
            <a href="">
              <div class="product-img">
                <img src="../img/breeding/varieties-3.png" alt="product" />
              </div>
              <div class="product-info text">
                <div class="product-descr">Big green</div>
                <div class="product-name">Broccoli</div>
              </div>
              <div class="product-name title">WS-3277</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="product-bottom">
      <div class="quality-line quality-line-left"></div>
      <div class="quality-title">Quality Control</div>
      <div class="quality-line quality-line-middle"></div>
      <div class="quality-text">
        At Westar, we pay a great deal of attention to detail in order to
        maintain the highest quality of seeds possible. Our rigorous quality
        control program ensures that the Westar Variety that is being sold has
        been inspected meticulously from the moment the production was harvested
        until the moment it is delivered to the customer.
      </div>
      <div class="quality-line quality-line-right"></div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
