<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="../index.html">
          <div class="logo">
            <img src="../img/homepage/logo.png" alt="logo" />
          </div>
        </a>
        <div class="nav-toggle">
          <div class="nav-toggle-content"></div>
        </div>
        <div class="nav-content">
          <ul class="menu link">
            <li class="menu-item drop-down">
              <a href="#">Company</a>
              <ul class="sub-menu">
                <li class="text"><a href="about.html">About</a></li>
                <li class="text">
                  <a href="breeding.html">Breeding</a>
                </li>
                <li class="text"><a href="team.html">Team</a></li>
                <li class="text">
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="menu-item drop-down">
              <a href="products.html">Products</a>
              <div class="sub-menu sub-menu-products">
                <ul class="products-menu">
                  <li class="products-menu-title text">
                    <a href="products.html">All vegetables</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Broccoli</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Cucumber</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Eggplant</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Melon</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Onions</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Papaya</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Hot)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Pepper (Sweet)</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Squash</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomato</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Tomatillo</a>
                  </li>
                  <li class="products-menu-item text">
                    <a href="product.html">Watermelon</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item drop-down">
              <a href="#">Resources</a>
              <ul class="sub-menu">
                <li class="text"><a href="events.html">Events</a></li>
                <li class="text">
                  <a href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-useful">
            <div class="search_icon">
              <img src="../img/homepage/search-icon.png" alt="search" />
            </div>
            <div class="language link drop-down">En</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="header-links">
      <a href="#" class="facebook"
        ><img src="../img/homepage/facebook.png" alt="facebook"
      /></a>
      <a href="#" class="instagram"
        ><img src="../img/homepage/instagram.png" alt="instagram"
      /></a>
      <a href="#" class="twitter"
        ><img src="../img/homepage/twitter.png" alt="twitter"
      /></a>
      <a href="#" class="linkedin"
        ><img src="../img/homepage/linkedin.png" alt="linkedin"
      /></a>
    </div>
    <header class="team">
      <div class="header-content-img">
        <img src="../img/team/header-img.png" alt="team" />
      </div>
      <div class="header-content-title title">
        team
      </div>
    </header>
    <section class="team">
      <div class="westar-team">
        <div class="container">
          <div class="westar-team-content">
            <div class="content-title">THE WESTAR TEAM</div>
            <div class="text">
              Each member of the Westar team brings their own unique and
              specialized industry expertise to our team. Yet, it’s individuals
              working together as a team, each prepared to step and assist
              wherever and whenever needed, that enables us to keep the Westar
              Promise: Delivering superior service to every customer, every
              order, every day.
              <br />
              <br />
              We’re proud of our accomplishments, and how we work together with
              a common goal, but it’s visits to the fields that give each of us
              the opportunity to see how our hard work defines and strengthens
              our company. It’s what we do behind the scenes that is the real
              secret to our success, because it sets us apart in the right way,
              every day, for every customer.
            </div>
            <a href="#">
              <div class="content-link link">
                <div class="link-text">Seed prtfolio</div>
              </div>
            </a>
          </div>
          <div class="westar-team-block">
            <div class="block-img person-photo">
              <img stc="" alt="person" />
            </div>
            <div class="block-name">
              <div class="name title">John Sonza,</div>
              <div class="career title">CEO</div>
              <div class="mail text">jsonza@westarseeds.com</div>
            </div>
            <div class="block-description text">
              <div class="description">
                Each member of the Westar team brings their own unique and
                specialized industry expertise to our team. Yet, it’s
                individuals working together as a team, each prepared to step
                and assist wherever and whenever needed, that enables us to keep
                the Westar Promise: Delivering superior service to every
                customer, every order, every day. <br />
                <br />
                We’re proud of our accomplishments, and how we work together
                with a common goal, but it’s visits to the fields that give each
                of us the opportunity to see how our hard work defines and
                strengthens our company. It’s what we do behind the scenes that
                is the real secret to our success, because it sets us apart in
                the right way, every day, for every customer.
              </div>
              <div class="regards">Best regards, John Sonza</div>
            </div>
          </div>
          <div class="westar-team-block">
            <div class="block-img person-photo">
              <img stc="" alt="person" />
            </div>
            <div class="block-name">
              <div class="name title">Gian Emilio Sonza,</div>
              <div class="career title">General Manager</div>
              <div class="mail text">giansonza@westarseeds.com</div>
            </div>
            <div class="block-description text">
              <div class="description">
                Each member of the Westar team brings their own unique and
                specialized industry expertise to our team. Yet, it’s
                individuals working together as a team, each prepared to step
                and assist wherever and whenever needed, that enables us to keep
                the Westar Promise: Delivering superior service to every
                customer, every order, every day. <br />
                <br />
                We’re proud of our accomplishments, and how we work together
                with a common goal, but it’s visits to the fields that give each
                of us the opportunity to see how our hard work defines and
                strengthens our company. It’s what we do behind the scenes that
                is the real secret to our success, because it sets us apart in
                the right way, every day, for every customer.
              </div>
              <div class="regards">Best regards, Gian Emilio Sonza</div>
            </div>
          </div>
        </div>
      </div>
      <div class="breeders">
        <div class="container">
          <div class="breeders-container">
            <div class="breeders-content">
              <div
                class="content-title"
                data-1200="transform:translateX(-20%)"
                data-1600="transform:translateX(0)"
              >
                Breeders
              </div>
              <div
                class="content-text"
                data-1200="transform:translateX(-20%)"
                data-1600="transform:translateX(0)"
              >
                We work with elite, veteran plant breeders throughout the world
                who have vast experience throughout their careers. Each member
                of the Westar team brings their own unique and specialized
                industry expertise to our team. Yet, it’s individuals working
                together as a team, each prepared to step and assist wherever
                and whenever needed, that enables us to keep the Westar Promise:
                Delivering superior service to every customer, every order,
                every day.
              </div>
            </div>
          </div>
          <div
            class="content-img border-img"
            data-1200="transform:translateX(20%)"
            data-1600="transform:translateX(0)"
          >
            <img src="../img/team/breaders-img.png" />
            <div
              class="border-block"
              data-1200="border-width: 15px"
              data-1600="border-width: 1px"
            ></div>
          </div>
        </div>
      </div>
      <div class="people">
        <div class="container">
          <div
            class="line-title"
            data-1600="transform:translateX(-10%)"
            data-2000="transform:translateX(0)"
          >
            Westar Seeds International, Inc.
          </div>
          <div class="first-line">
            <div class="seeds-img">
              <img
                src="../img/team/people-1.png"
                alt="tomato"
                data-2100="transform:translateX(-20%)"
                data-2500="transform:translateX(0)"
              />
            </div>
            <div class="person-block">
              <div class="person-photo">
                <img src="" alt="person" />
              </div>
              <div class="block-name">
                <div class="title">Juan Carlos Perez</div>
                <div class="text">juancarlos@westarseeds.com</div>
              </div>
            </div>
            <div class="person-block">
              <div class="person-photo">
                <img src="" alt="person" />
              </div>
              <div class="block-name">
                <div class="title">Armando Espinosa</div>
                <div class="text">armando@westarseeds.com</div>
              </div>
            </div>
            <div class="person-block">
              <div class="person-photo">
                <img src="" alt="person" />
              </div>
              <div class="block-name">
                <div class="title">Alejandro Rangel</div>
                <div class="text">alejandro@westarseeds.com</div>
              </div>
            </div>
          </div>

          <div class="semillas">
            <div class="second-line">
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="block-name">
                  <div class="title">Catalina Carrillo</div>
                  <div class="text">accounting@westarseeds.com</div>
                </div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="block-name">
                  <div class="title">Xochil Luna</div>
                  <div class="text">xochil@westarseeds.com</div>
                </div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="block-name">
                  <div class="title">Zaine Hamed</div>
                  <div class="text">zaine@westarseeds.com</div>
                </div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="block-name">
                  <div class="title">Maria Mendez</div>
                  <div class="text">maria@westarseeds.com</div>
                </div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="block-name">
                  <div class="title">Fernanda Aguilar</div>
                  <div class="text">fernanda@westarseeds.com</div>
                </div>
              </div>
            </div>
            <div class="semillas-center">
              <div class="semillas-title">
                <div
                  class="line-title"
                  data-3000="transform:translateX(-20%)"
                  data-3400="transform:translateX(0)"
                >
                  Westar Semillas Mexico S. De R.L. De C.V.
                </div>
              </div>
              <div class="semillas-img">
                <img
                  src="../img/team/people-2.png"
                  data-3000="transform:translateX(20%)"
                  data-3400="transform:translateX(0)"
                />
              </div>
            </div>
            <div class="third-line">
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="title">Jorge Rodriguez</div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="title">Eliel Aguirre</div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="title">Rafael Garcia</div>
              </div>
              <div class="person-block">
                <div class="person-photo">
                  <img src="" alt="person" />
                </div>
                <div class="title">Daniel Vega</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo-team-img">
        <img src="../img/team/photo-team.png" alt="photo-team" />
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="footer-container">
          <div class="logo-block">
            <img
              src="../img/homepage/footer-logo.png"
              alt="logo"
              class="footer-logo"
            />
            <div class="footer-title">Masters in the Art of Breeding</div>
          </div>
          <div class="menu-block">
            <ul class="company-menu">
              <li class="footer-title">COMPANY</li>
              <li class="menu-item text"><a href="#">about</a></li>
              <li class="menu-item text"><a href="#">breeding</a></li>
              <li class="menu-item text"><a href="#">team</a></li>
              <li class="menu-item text"><a href="#">careers</a></li>
              <li class="menu-item text"><a href="#">resources</a></li>
              <li class="menu-item text"><a href="#">contact</a></li>
            </ul>
            <ul class="products-menu">
              <li class="footer-title">PRODUCTS</li>
              <li class="menu-item text"><a href="#">Broccoli</a></li>
              <li class="menu-item text"><a href="#">Cucumber</a></li>
              <li class="menu-item text"><a href="#">Eggplant</a></li>
              <li class="menu-item text"><a href="#">Melon</a></li>
              <li class="menu-item text"><a href="#">Onions</a></li>
              <li class="menu-item text"><a href="#">Papaya</a></li>
              <li class="menu-item text"><a href="#">Pepper (Hot)</a></li>
              <li class="menu-item text"><a href="#">Pepper (Sweet)</a></li>
              <li class="menu-item text"><a href="#">Squash</a></li>
              <li class="menu-item text"><a href="#">Tomato</a></li>
              <li class="menu-item text"><a href="#">Tomatillo</a></li>
              <li class="menu-item text"><a href="#">Watermelon</a></li>
            </ul>
          </div>
          <div class="contact-block">
            <div class="contact-content">
              <div class="footer-title">contact</div>
              <div class="contact-text text">
                We combine traditional values and service with innovative
                techniques
              </div>
              <a href="" class="contact-button footer-title">contact us</a>
              <div class="contact-info">
                <img
                  src="../img/homepage/address.png"
                  alt=""
                  class="address-icon"
                />
                <div class="text">
                  798 E Heil Ave, El Centro, CA 92243, USA
                </div>
              </div>
              <div class="contact-info">
                <img
                  src="../img/homepage/phone.png"
                  alt=""
                  class="phone-icon"
                />
                <div class="text">
                  (760) 353-7333
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-block">
        <div class="container">
          <div class="logo-info text">
            ALL CONTENT © WESTAR SEEDS INTERNATIONAL, INC © All rights reserved.
          </div>
          <div class="menu-info">
            <div class="footer-privacy text">PRIVACY POLICY</div>
            <div class="footer-cookie text">COOKIE NOTICE</div>
          </div>
          <div class="contact-info">
            <div class="footer-links">
              <a href="#" class="facebook"
                ><img src="../img/homepage/footer-facebook.png" alt="facebook"
              /></a>
              <a href="#" class="instagram"
                ><img
                  src="../img/homepage/footer-instagram.png"
                  alt="instagram"
              /></a>
              <a href="#" class="twitter"
                ><img src="../img/homepage/footer-linkedin.png" alt="linkedin"
              /></a>
              <a href="#" class="linkedin"
                ><img src="../img/homepage/footer-twitter.png" alt="twitter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/index.js"></script>
    <script src="../js/skrollr.min.js"></script>
    <script type="text/javascript">
      skrollr.init();
    </script>
  </body>
</html>
